<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.2-rc1" targetFramework="net472" />
  <package id="Pedantic.IO.EmbeddedResource" version="0.9.0-pre-02" targetFramework="net472" />
  <package id="StringTemplate4" version="4.0.9-rc1" targetFramework="net472" />
</packages>